.hero-section{
    height: 55rem;
}

.hero-section-image {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.336),
      rgba(0, 0, 0, 0.767)
    ),
    url("https://source.unsplash.com/rbz1hVh7_LM/1920x1080");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.hero-title {
  width: 60rem;
  line-height: 6rem;
}
