/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f4f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(68, 168, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(40, 147, 241);
}
